/* 
  ## Config
*/

$path-image: '~/assets/img/';

/* 
  ## Colors 
*/

$palette-colors: (
  white100: #fff,
  black100: #000
);

/*
  ## Layout
*/

$breakpoint-large: 1200px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;

/*
  ## Text
*/

$text-size: (
  title: 26px,
  large: 20px,
  medium: 18px,
  small: 16px,
  base: 12px
);

/*
  ## Fonts family
*/

$fonts-family: (
  1: ('Montserrat', sans-serif)
);

$weight: 300, 400, 500, 600, 700, 800, 900;

/*
  ## Padding / Margin
*/

$padding-margin-sizes: (
  0: 0,
  10: 10px,
  20: 20px,
  30: 30px,
  40: 40px,
  50: 50px
);
