// Path images
$path-image: '~/assets/img/';

// Colors
$colors: (
  white100: #fff,
  black100: #000
);

// Breakpoints
$breakpoint-large: 1200px;
$breakpoint-default: 1080px;
$breakpoint-medium: 992px;
$breakpoint-small: 768px;

// Text size
$text-size: (
  title: 26px,
  large: 20px,
  medium: 18px,
  small: 16px,
  base: 14px
);

// Text weight
$weight: 300, 400, 500, 600, 700, 800, 900;

// Fonts family
$fonts-family: (
  1: ('Montserrat', sans-serif)
);

// Padding / Margins
$padding-margin-sizes: (
  0: 0,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px,
  35: 35px,
  40: 40px,
  45: 45px,
  50: 50px
);
