// Mixins
@mixin container ($name, $value) {
  .container-#{$name} {
    max-width: $value;
    margin: 0 auto;
    padding: 0 20px;
  }
}

// Layout
@include generate_padding_margins();

@include generate-color-helper();

@include container('medium', $breakpoint-medium);
@include container('small', $breakpoint-small);

.clearfix {
  @include clearfix();
}

.display-block {
  display: block;
}

.inline-block {
  @include inline-block;
}

.display-none {
  display: none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

// Typography
@each $name, $size in $text-size {
  .text-#{$name} {
    font-size: $size;
  }
}

@each $value in $weight {
  .weight-#{$value} {
    font-weight: $value;
  }
}

.text-default {
  p {
    font-size: map-get($text-size, single);
    line-height: 1.6em;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.text-center {
	text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-italic {
  font-style: italic;
}

.line-default {
	line-height: 1.4em;
}

.text-under {
  text-decoration: underline;
}

.text-upper {
  text-transform: uppercase;
}

// Fonts
@mixin font($number) {
  font-family: map-get($fonts-family, $number);
  font-display: swap;
}

@each $value, $font in $fonts-family {
  .font-#{$value} {
    @include font($value);
  }
}
