{
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "absoluteRuntime": false,
      "corejs": 3
    }],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "corejs": 3,
        "useBuiltIns": "entry"
      }
    ],
    ["@nuxt/babel-preset-app", {
      "useBuiltIns": "entry",
      "targets": {
        "ie": 11
      },
      "corejs": {
        "version": 3
      }
    }]
  ],
  "sourceType": "unambiguous"
}
