{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "plugin:vue/recommended",
    "prettier/babel",
    "prettier/vue",
    "@nuxtjs"
  ]
}
